@font-face {
    font-family: regular-mont;
    src: url(../font/Mont-Regular.ttf);
  }
  
  @font-face {
    font-family: semi-bold-mont;
    src: url(../font/Mont-SemiBold.ttf);
  }
  
  @font-face {
    font-family: bold-mont;
    src: url(../font/Mont-Bold.ttf);
  }

.contactform-container {
    background: #fff4f4;
    width: 100%;
    margin: auto;
}

.contactme-heading {
    text-align: center;
    font-family: bold-mont;
    color: #f64f59;
    padding-top: 20px;
}

form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    font-size: 16px;
    margin: auto;
    padding-bottom: 30px;
}

label {
    font-family: semi-bold-mont;
    margin-bottom: 10px;
}

input {
    width: 100%;
    height: 35px;
    padding: 7px;
    padding-left: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    font-family: regular-mont;
    text-transform: capitalize;


    &:focus {
      border: 1px solid #f64f59;
    }
}

textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    padding: 7px;
    padding-left: 20px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    font-family: regular-mont;
    text-transform: capitalize;

    &:focus {
        border: 1px solid #f64f59;
      }
  }

  label {
    margin-top: 1rem;
  }

  input[type="submit"] {
    margin-top: 2rem;
    cursor: pointer;
    background:#f64f59;
    color: white;
    border: none;
    font-family: semi-bold-mont;
    font-size: 20px;
  }

  .error-message {
    color: #f64f59;
  }

  .sent-message {
    border: 1px solid #fff4f4;
    transition: 4s ease-out;
    margin-left: 43%;
  }

  @media only screen and ( max-width: 572px ) {
    .sent-message {
        margin-left: 30%;
    }
  }